* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  font-weight: 700;
  /* - Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weight: 700 */
}
.App {
  text-align: center;
  background-color: var(--dark-navy-blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--light-navy-blue);
  height: 45%;
  width: 48.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: relative;
  padding: 2rem 2rem;
}
.advice-number {
  color: var(--fluoro-green);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.button {
  background-color: var(--fluoro-green);
  padding: 1.7rem 1.7rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: -3rem;
}
.dice {
  display: flex;
  align-items: center;
}
.advice-text {
  font-size: 3rem;
  color: var(--white-blue);
}
.pattern-divider-desk {
  margin-bottom: 1rem;
}
.pattern-divider-mob {
  margin-bottom: 0.4rem;
  display: none;
}
@media (max-width: 521px) {
  .container {
    width: 90%;
  }

  .advice-text {
    font-size: 2rem;
  }
  .pattern-divider-desk {
    display: none;
  }
  .pattern-divider-mob {
    display: inline;
  }
}
