body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --dark-navy-blue: rgb(23, 29, 39);
  --light-navy-blue: rgb(35, 44, 56);
  --fluoro-green: rgb(75, 255, 154);
  --white-blue: rgb(193, 220, 228);
  --dark-fluoro-green: rgb(51, 171, 103);

  /*Breakpoints*/
  --small: 521px;
}
